.navigationBar-container {
  font-family: "Open Sans";

  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    border-bottom: 1px solid #9d9d9d;
    padding-bottom: 20px;
  }

  li {
    display: inline;
    font-size: 30px;
    font-weight: 700;
    border-right: 1px solid #9d9d9d;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .link-text:last-child {
    border-right: none;
  }

  a {
    text-decoration: none;

    &:link {
      color: #5094da;
    }

    &:visited {
      color: #5094da;
    }

    &:hover {
      color: blue;
      cursor: pointer;
    }
  }
}
