.navigationBar-container {
  font-family: "Open Sans";

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #94b4d4;
  }

  a:hover {
    color: blue;
    cursor: pointer;
  }

  li {
    display: inline;
  }

  .text-piped a:after {
    content: "|";
    color: black;
    margin: 0 10px;
    opacity: 0.4;
  }
}
